* {
	box-sizing: border-box;
	font-family: "sans serif";
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	text-align: center;
	vertical-align: middle;
}

section {
	border: 2px solid #000;
	background-color: #777;
	color: #fff;
	height: 35vh;
	overflow: auto;
}

h2 {
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
	width: 200px;
	float: right;
	text-align: center;
}

.chicken h2 {
	background-color: #ce8dce;
}

.beef h2 {
	background-color: #bb3030;
}

.sushi h2 {
	background-color: #cece5a;
}

p {
	clear: right;
	margin: 20px;
}

@media (min-width: 992px) {
	h1 {
		margin-top: 10vh;
	}

	section {
		width: 30vw;
		float: left;
		margin-top: 15vh;
		margin-left: 2.5vw;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		margin-top: 5vh;
	}

	.chicken, .beef {
		width: 44vw;
		float: left;
		margin-left: 4vw;
		margin-bottom: 4vw;
		margin-top: 5vh;
	}

	.sushi {
		clear: left;
		margin-left: 4vw;
		margin-right: 4vw;
	}
}

@media (max-width: 767px) {
	h1 {
		margin-top: 8vh;
	}

	section {
		margin: 5vh 6vw;
	}
}
